                   <!-- absoulte path -->

    <!-- <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Registration/PersonalDetails">Personal details</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Registration/basicDetails">Basic details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Registration/Address">Address</a>
        </li>
      </ul>
       -->
                    <!-- Relative path -->
      
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="PersonalDetails">Personal details</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="basicDetails">Basic details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Address">Address</a>
          </li>
        </ul>

<router-outlet></router-outlet>